<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Climate Analysis Flask App</title>
</head>

<body>
    <div class="container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h1> Welcome to the Hawaii Climate App! </h1>
                    <h2>Click on a link below to go to the specified endpoint:</h2>
                </div>
            </div>
        </div>
    </div>
                    <!-- f"Available Routes:<br/>"
    f"/api/v1.0/precipitation<br/>"
    f"/api/v1.0/stations<br/>"
    f"/api/v1.0/tobs<br/>"
    f"/api/v1.0/yyyy-mm-dd<br/>"
    f"/api/v1.0/api/v1.0/yyyy-mm-dd/yyyy-mm-dd" -->
</body>

</html>